
@{
    ViewBag.Title = "Index";
}

<style>
     #alSana{
         border:1px solid blue;
     }
</style>

<div class="container">
    <div id="alSana" class="panel panel-primary">
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Isim</th>
                    <th>SoyIsim</th>
                </tr>

                <tr>
                    <td>Cagri</td>
                    <td>Yolyapar</td>
                </tr>
                <tr>
                    <td>Fatih</td>
                    <td>Günalp</td>
                </tr>
            </table>

        </div>
    </div>
</div>


